<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>סימולטור נקודות זיכוי</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact_form.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="header-row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">

      <a href="{{ url_for('index') }}" style="text-decoration: none;">
        <button type="button" style="font-weight: bold; width: 4cm; height: 0.5cm; font-size: 17px; display: flex; align-items: center; justify-content: center;">
          עבור לדף הראשי
        </button>
      </a>

    <!-- Contact Form -->
    <a href="{{ url_for('contact_form') }}" style="text-decoration: none;">
        <button type="button"  style="font-weight: bold; width: 3.5cm; height: 0.5cm; font-size: 17px; background:#1E90FF; color:white; padding:3px 6px; border: 2px solid black; border-radius:5px; display: flex; align-items: center; justify-content: center;">
                הוסף איש קשר
        </button>
    </a>

      <h1 style=" margin-left: 810px;">סימולטור נקודות זיכוי</h1>
    </div>

<form method="POST" action="{{ url_for('tax_credit_simulator') }}">

            <!-- Empty row after -->
            <div style="height: 0.01cm;"></div>

            <label>תושב ישראל:</label>
            <input type="checkbox" name="is_israeli_resident">
        </div>
        <div>
            <label>מין:</label>
            <input type="radio" name="gender" value="male" > זכר
            <input type="radio" name="gender" value="female"> נקבה
        </div>
        <div>
            <label>אישה זכאית לתוספת של 0.5 נקודות זיכוי.</label>
        </div>
        <div>
            <label>נער/נערה בגיל 16-18:</label>
            <input type="checkbox" name="is_teenager">
            <label>זכאים לתוספת של 1 נקודות זיכוי.</label>
        </div>
        <div>
            <label>נשוי/נשואה:</label>
            <input type="radio" name="is_married" > נשוי
            <input type="radio" name="is_married"> נשואה
            <label> על פי רישומי משרד הפנים.</label>
        </div>
        <div>
            <label>בני זוג שאחד מהם "יחיד מוטב" ולאחד מבני הזוג אין הכנסה:</label>
            <input type="checkbox" name="is_special_situation">
            <label>"יחיד מוטב" - יחיד שהוא או בן זוגו הגיע לגיל הפרישה, או שהוא או שבן זוגו, עיוור או נכה כמשמעותם בסעיף 9 (5) (א).</label>
        </div>
        <div>
            <label>אם אין ילדים - זכאי/ת ל -1 נקודת זיכוי.</label>
            <label>אם יש ילדים - זכאית ל -0.5 נקודות זיכוי.</label>
            <input type="radio" name="has_children" value="no"> אין ילדים
            <input type="radio" name="has_children" value="yes"> יש ילדים
        </div>
        <div>
            <label>נשואה לאלמן שיש לו ילדים (עד גיל 18):</label>
            <input type="radio" name="married_to_widower" value="yes"> כן
            <input type="radio" name="married_to_widower" value="no"> לא
        </div>
        <div>
            <label>הורה החי בנפרד, ויש לו ילד בחזקתו, ואינו מקיים משק בית משותף:</label>
            <input type="radio" name="single_parent" value="yes"> כן
            <input type="radio" name="single_parent" value="no"> לא
            <label>זכאי/ת ל -1 נקודת זיכוי.</label>
        </div>
        <div>
            <label>הורה החי בנפרד, ויש לו ילד בחזקתו, ומקיים משק בית משותף:</label>
            <input type="radio" name="separate_household" value="yes"> כן
            <input type="radio" name="separate_household" value="no"> לא
        </div>
        <div>
            <label>הורה יחיד:</label>
            <input type="radio" name="single_parent_no_spouse" value="yes"> כן
            <input type="radio" name="single_parent_no_spouse" value="no"> לא
            <label>זכאי/ת ל -1 נקודת זיכוי.</label>
            <label>הילד רשום במרשם האוכלוסין ללא פרטי ההורה השני, או שההורה השני של הילד נפטר.</label>
        </div>
        <div>
            <label>הורה המשלם מזונות בגין ילדים שאינם בחזקתו/ה:</label>
            <input type="radio" name="paying_child_support" value="yes"> כן
            <input type="radio" name="paying_child_support" value="no"> לא
            <label>זכאי/ת ל -1 נקודת זיכוי.</label>
        </div>
        <div>
            <label>גבר/ אישה הנשואים בשנית ומשלמים מזונות לבן/ת הזוג לשעבר:</label>
            <input type="radio" name="remarried_paying_alimony" value="yes"> כן
            <input type="radio" name="remarried_paying_alimony" value="no"> לא
            <label>בגין תשלום המזונות, זכאי/ת ל- 1 נקודת זיכוי.</label>
        </div>

            <!-- Empty row after -->
            <div style="height: 0.2cm;"></div>

        <div>
        <label style="font-weight: bold; white-space: nowrap; background-color: lightblue;">
  נקודות זיכוי בגין ילדים שבחזקת ההורה יש לרשום את מספר הילדים באותו גיל יילוד - ילד בשנת לידתו:    בוגר - ילד בשנה בה מלאו לו 18:</label><br>

       </div>
        <div>
           <label>אישה בשנת הלידה רשאית לדחות נקודת זיכוי אחת בלבד לשנת המס שאחרי הלידה.</label><br>
            <label>* ניוד נקודות בגין היילוד/ים</label>
            <input type="radio" name="remarried_paying_alimony" value="yes"> כן
            <input type="radio" name="remarried_paying_alimony" value="no"> לא

            <label>בגין תשלום המזונות, זכאי/ת ל- 1 נקודת זיכוי.</label>
        </div>
        <div>
            <label>* האם נויידו נקודות משנת המס הקודמת</label>
            <input type="radio" name="remarried_paying_alimony" value="yes"> כן
            <input type="radio" name="remarried_paying_alimony" value="no"> לא
        </div>


         <div>
            <label>יילוד (ילד בשנת לידתו):</label>
            <input type="number" name="newborn_count" min="0" step="1" onkeydown="return false;" style="width: 3.67cm; display: inline-block; align-items: center;">
            <label>2.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 1 בשנת מס:</label>
            <input type="number" name="age_1_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>4.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 2 בשנת מס:</label>
            <input type="number" name="age_2_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>4.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 3 בשנת מס:</label>
            <input type="number" name="age_3_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>3.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 4 בשנת מס:</label>
            <input type="number" name="age_4_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>2.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 5 בשנת מס:</label>
            <input type="number" name="age_5_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>2.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 6-17 בשנת מס:</label>
            <input type="number" name="age_6_17_count" min="0" step="1" onkeydown="return false;" style="width: 3.57cm; display: inline-block; align-items: center;">
            <label>2 נקודות זיכוי</label>
        </div>
        <div>
            <label>בוגר (ילד בשנה בה מלאו לו 18):</label>
            <input type="number" name="age_18_count" min="0" step="1" onkeydown="return false;" style="width: 2.17cm; display: inline-block; align-items: center;">
            <label>0.5 נקודות זיכוי</label>
        </div>

        <div>
        <label style="font-weight: bold; white-space: nowrap; background-color: lightblue;">
  נקודות זיכוי בגין ילדים שאינם בחזקת ההורה יש לרשום את מספר הילדים באותו גיל יילוד - ילד בשנת לידתו:</label><br>
        <div>
           <label>יילוד (ילד בשנת לידתו):</label>
            <input type="number" name="newborn_count" min="0" step="1" onkeydown="return false;" style="width: 3.67cm; display: inline-block; align-items: center;">
            <label>2.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 1 בשנת מס:</label>
            <input type="number" name="age_1_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>4.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 2 בשנת מס:</label>
            <input type="number" name="age_2_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>4.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 3 בשנת מס:</label>
            <input type="number" name="age_3_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>3.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 4 בשנת מס:</label>
            <input type="number" name="age_4_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>2.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 5 בשנת מס:</label>
            <input type="number" name="age_5_count" min="0" step="1" onkeydown="return false;" style="width: 4.25cm; display: inline-block; align-items: center;">
            <label>2.5 נקודות זיכוי</label>
        </div>
        <div>
            <label>ימלאו לו 6-17 בשנת מס:</label>
            <input type="number" name="age_6_17_count" min="0" step="1" onkeydown="return false;" style="width: 3.57cm; display: inline-block; align-items: center;">
            <label>1 נקודות זיכוי</label>

            <!-- Empty row after -->
            <div style="height: 0.1cm;"></div>

<div style="display: flex; gap: 16px; align-items: center; margin-top: 10px;">

<label style="font-size: 21px; display: inline-block;">
  תוצאות חישוב מספר נקודות הזיכוי שלך :
</label>
            <input type="text" name="total_tax_credits" id="total_tax_credits" value="{{ tax_credits if tax_credits is not none else '' }}" style="width: 3.6cm; font-size: 16px; background-color: lightyellow; display: inline-block; align-items: center;">
  </a>

        <!-- Calculate Button -->
           <div style="display: flex; gap: 10px;">
            <button type="submit" formaction="/tax_credit_simulator" style="font-weight: bold; width: 4cm; height: 0.5cm; font-size: 17px; display: flex; align-items: center; justify-content: center;">
                חשב נקודות זיכוי
            </button>

        <!-- Reset Button -->
            <button type="button" onclick="document.getElementById('total_tax_credits').value='';" style="font-weight: bold; width: 4cm; height: 0.5cm; font-size: 17px; display: flex; align-items: center; justify-content: center;">
            נקה טופס
      </button>
    </div>

  </div>
</form>

    <!--  DevTools F12 Browser Blocker Script  -->
    <script disable-devtool-auto src="https://cdn.jsdelivr.net/npm/disable-devtool"></script>

</body>
</html>
